* {
    margin: 0;
}

.box-one {
    text-align: center;
    width: auto;
    height: 50px;
    background-color: blue;
}

.box-two {
    text-align: center;
    width: auto;
    height: 50px;
    background-color: wheat;
}

.box-three {
    text-align: center;
    width: auto;
    height: 50px;
    background-color: yellow;
}