/* This is my first css file */

body {
  /* background-color: #181819; */
  background-image: url('images/background.jpg');
  background-repeat: space;

  background-position: center;
  background-size: cover;
}

/* from this line to down belong top navigation */
.navigation {
  font-size: 20px;
  padding: 15px;
  background-color: #28a796;
}
.navigation .active {
  padding: 10px;
  background-color: #1f69dc;
  color: white;
  display: inline-block;
}
.navigation .login {
  float: right;
  padding: 10px;
  background-color: #4a74dd;
  color: white;
}
.navigation a {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.navigation a:hover {
  background-color: #a8caa9;
}



.links {
  padding: 10px;
}
.information {
  color: white;
  padding: 30px;
}
.information h1 {
  font-family: Arial "Time New Roman";
}

.information p {
  font-size: 20px;
}

.userinfo {
  background-color: #247fdc;
  border-radius: 20px;
  padding: 20px;
}

.userinfo input {
  border-radius: 10px;
}
